<a href="https://colab.research.google.com/github/Dianova05/PythonAnalitic/blob/HW/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled1_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Разархивируем данные
!unzip Материалы_v2.zip

Archive:  Материалы_v2.zip
replace marketing description.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename:

1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.
2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.
3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.
4. Определить самую раннюю дату подписки на сервис.
5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [ ]:
# Импортируем в библиотеку Pandas
import pandas as pd

In [ ]:
# Загружаем данные в Python c помощью библиотеки Pandas
df = pd.read_csv('users.csv')

In [ ]:
mdf = pd.read_csv('marketing_campaign.csv')

In [ ]:
sdf = pd.read_csv('subscribers.csv', parse_dates=['date_subscribed'])
sdf.dtypes

user_id                        object
subscribing_channel            object
date_subscribed        datetime64[ns]
date_canceled                  object
is_retained                    object
dtype: object

In [ ]:
# Посмотрим количество строк в датафрейме
len(df)

10037

In [ ]:
# Посмотрим количество строк в датафрейме
len(sdf)

10037

In [ ]:
# Описательная статистика для числовых столбцов датасета
df.describe()

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a1000  19-24 years            English
freq         1         1682               9275

In [ ]:
# Описательная статистика для числовых столбцов датасета
sdf.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,user_id,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,1856,1856,577,1856
unique,10037,5,31,115,2
top,a1000,Instagram,2018-01-16 00:00:00,4/2/18,True
freq,1,600,163,15,1279
first,NaN,NaN,2018-01-01 00:00:00,NaN,NaN
last,NaN,NaN,2018-01-31 00:00:00,NaN,NaN

In [ ]:
# Описательная статистика для числовых столбцов датасета
mdf.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
count,10037,10021,10022,10037,10037,10022
unique,10037,31,5,2,4,2
top,a1000,1/15/18,House Ads,control,English,False
freq,1,789,4733,5091,9793,8946

In [ ]:
df['language_preferred'].value_counts()

English    9275
Spanish     450
German      167
Arabic      145
Name: language_preferred, dtype: int64

In [ ]:
df_2 = pd.merge(df, mdf, on ='user_id', how='inner')

print('Размер датасета df_2:', df_2.shape)
df_2.head()

Размер датасета df_2: (10037, 8)

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,0-18 years,English,1/1/18,House Ads,personalization,English,True
1,a1001,19-24 years,English,1/1/18,House Ads,personalization,English,True
2,a1002,24-30 years,English,1/1/18,House Ads,personalization,English,True
3,a1003,30-36 years,English,1/1/18,House Ads,personalization,English,True
4,a1004,36-45 years,English,1/1/18,House Ads,personalization,English,True

In [ ]:
# Объединяем

df_3 = pd.merge(df_2, sdf, on='user_id', how='inner')

print('Размер датасета df_3:', df_3.shape)
df_3.head()

Размер датасета df_3: (10037, 12)

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,0-18 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
1,a1001,19-24 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
2,a1002,24-30 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
3,a1003,30-36 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
4,a1004,36-45 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True

In [ ]:
# Опредеяю количество, типы и описательные статистики колонок (столбцов) получившегося датасета.
# Посмотрим количество строк и столбцов в датафрейме
df_3.shape

(10037, 12)

In [ ]:
# Общая статистика датасета
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   age_group            10037 non-null  object
 2   language_preferred   10037 non-null  object
 3   date_served          10021 non-null  object
 4   marketing_channel    10022 non-null  object
 5   variant              10037 non-null  object
 6   language_displayed   10037 non-null  object
 7   converted            10022 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   datetime64[ns]
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: datetime64[ns](1), object(11)
memory usage: 1019.4+ KB

In [ ]:
# Описательная статистика для числовых столбцов датасета
df_3.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10037,10037,10021,10022,10037,10037,10022,1856,1856,577,1856
unique,10037,7,4,31,5,2,4,2,5,31,115,2
top,a1000,19-24 years,English,1/15/18,House Ads,control,English,False,Instagram,2018-01-16 00:00:00,4/2/18,True
freq,1,1682,9275,789,4733,5091,9793,8946,600,163,15,1279
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-01 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-31 00:00:00,NaN,NaN

In [ ]:
# Описательная статистика для нечисловых столбцов датасета
df_3.describe(include=['object', 'bool'])

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_canceled,is_retained
count,10037,10037,10037,10021,10022,10037,10037,10022,1856,577,1856
unique,10037,7,4,31,5,2,4,2,5,115,2
top,a1000,19-24 years,English,1/15/18,House Ads,control,English,False,Instagram,4/2/18,True
freq,1,1682,9275,789,4733,5091,9793,8946,600,15,1279

In [ ]:
# Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

df_3.sort_values(['age_group', 'language_preferred']).head(15)

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
124,a1124,0-18 years,Arabic,1/6/18,House Ads,control,Arabic,True,House Ads,2018-01-06,NaN,True
306,a1306,0-18 years,Arabic,1/20/18,House Ads,control,English,True,House Ads,2018-01-20,1/31/18,False
354,a1354,0-18 years,Arabic,1/1/18,Email,personalization,Arabic,True,Email,2018-01-01,NaN,True
561,a1561,0-18 years,Arabic,1/17/18,Email,control,Arabic,True,Email,2018-01-17,NaN,True
3982,a4982,0-18 years,Arabic,1/13/18,Push,control,English,False,NaN,NaT,NaN,NaN
3983,a4983,0-18 years,Arabic,1/30/18,Instagram,control,English,False,NaN,NaT,NaN,NaN
4364,a5364,0-18 years,Arabic,1/13/18,House Ads,control,English,False,NaN,NaT,NaN,NaN
4388,a5388,0-18 years,Arabic,1/17/18,House Ads,control,English,False,NaN,NaT,NaN,NaN
4412,a5412,0-18 years,Arabic,1/20/18,House Ads,control,English,False,NaN,NaT,NaN,NaN
5254,a6254,0-18 years,Arabic,1/16/18,House Ads,control,English,False,NaN,NaT,NaN,NaN
5292,a6292,0-18 years,Arabic,1/22/18,House Ads,control,English,False,NaN,NaT,NaN,NaN
5339,a6339,0-18 years,Arabic,1/28/18,House Ads,control,English,False,NaN,NaT,NaN,NaN
6386,a7386,0-18 years,Arabic,1/11/18,House Ads,personalization,English,False,NaN,NaT,NaN,NaN
6393,a7393,0-18 years,Arabic,1/12/18,House Ads,personalization,English,False,NaN,NaT,NaN,NaN
6447,a7447,0-18 years,Arabic,1/18/18,House Ads,personalization,English,False,NaN,NaT,NaN,NaN

In [ ]:
# Определить самую раннюю дату подписки на сервис.
min_date = df_3.date_subscribed.min()

print('Все записи с минимальной датой подписки = ', min_date)
df_3[df_3.date_subscribed == min_date]

Все записи с минимальной датой подписки =  2018-01-01 00:00:00

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,0-18 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
1,a1001,19-24 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
2,a1002,24-30 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
3,a1003,30-36 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
4,a1004,36-45 years,English,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1374,a2374,24-30 years,English,1/2/18,Facebook,control,English,False,Instagram,2018-01-01,NaN,True
1721,a2721,19-24 years,English,1/1/18,Instagram,personalization,English,True,Instagram,2018-01-01,NaN,True
1722,a2722,24-30 years,English,1/30/18,Facebook,control,English,False,Instagram,2018-01-01,NaN,True
1783,a2783,24-30 years,English,1/1/18,Instagram,personalization,English,True,Instagram,2018-01-01,NaN,True
1784,a2784,30-36 years,English,1/3/18,Instagram,control,English,False,Instagram,2018-01-01,NaN,True

In [ ]:
# Определить эффективность маркетинговых каналов по привлечению платящих игроков.
df_3.groupby('subscribing_channel').count().sort_values(
    'marketing_channel',
    ascending=False
    )

,user_id,age_group,language_preferred,date_served,marketing_channel,variant,language_displayed,converted,date_subscribed,date_canceled,is_retained
subscribing_channel,,,,,,,,,,,
Instagram,600,600,600,600,600,600,600,600,600,176,600
Facebook,445,445,445,445,445,445,445,445,445,124,445
House Ads,354,354,354,354,354,354,354,354,354,156,354
Email,290,290,290,290,290,290,290,290,290,76,290
Push,167,167,167,167,167,167,167,167,167,45,167

In [ ]:
# Определить эффективность маркетинговых каналов по привлечению платящих игроков.
cols_1 = ['marketing_channel'] 
df_4 = df_3.groupby('subscribing_channel').count()[cols_1]
df_5 = df_3[df_3.converted == 1].groupby('subscribing_channel').count()[cols_1]

df_5

                     marketing_channel
subscribing_channel
Email                              167
Facebook                           237
House Ads                          298
Instagram                          265
Push                                83

In [ ]:
df_6 = df_4.merge(df_5, on=['subscribing_channel'], how='inner')
df_6['eff_%'] = df_6['marketing_channel_y'] / df_6['marketing_channel_x'] * 100
df_6 = df_6.sort_values('eff_%',ascending=False)
df_6.round(decimals = 2)

                     marketing_channel_x  marketing_channel_y  eff_%
subscribing_channel
House Ads                            354                  298  84.18
Email                                290                  167  57.59
Facebook                             445                  237  53.26
Push                                 167                   83  49.70
Instagram                            600                  265  44.17

In [ ]:
 #Смотрим портрет аудитории:
df_3.groupby(['age_group', 'language_preferred']).count()

In [ ]:
# № 5.Определить портрет аудитории удержанных подписчиков (по возрасту и языку).
df_7 = df_3[df_3.date_canceled.isnull() == True]

cols_2 = ['date_subscribed'] 
df_7.groupby(['age_group', 'language_preferred']).count()[cols_2]

                                date_subscribed
age_group   language_preferred
0-18 years  Arabic                            3
            English                         210
            German                           10
            Spanish                           6
19-24 years Arabic                            1
            English                         304
            German                           11
            Spanish                          10
24-30 years Arabic                            3
            English                         250
            German                           15
            Spanish                           5
30-36 years Arabic                            0
            English                         114
            German                            1
            Spanish                           7
36-45 years Arabic                            1
            English                         107
            German                            2
            Spanish                           5
45-55 years Arabic                            2
            English                         108
            German                            3
            Spanish                           6
55+ years   Arabic                            2
            English                          86
            German                            2
            Spanish                           5